* {
    background-color: white;
}

.login-card, .register-card {
    display: flex;
    justify-content: space-between;
    width: 60rem;
    height: 45rem;
    margin: 4rem auto;
    background-color: var(--background-color);
    border-radius: 2rem;
}

.img-login {
    height: 25rem;
    background-color: transparent;
}

.image-wrap-login {
    width: 36rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(197, 176, 226, 0.58);
    border-radius: 2rem;
    margin: 0.8rem ;
    border: 3px solid white;
}

.login-form-wrap, .register-form-wrap {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    background-color: var(--background-color);
    border-radius: 3rem;
    margin: 1rem 1rem;
    position: relative;
}

.register-login-form {
    align-self: flex-end;
    justify-self: flex-start;
    margin: 1rem 2rem;
    position: absolute;
    top: 0;
}

.login-form-wrap h2, .register-form-wrap h2{
    background-color: var(--background-color);
    font-size: 2rem;
}

.login-form-wrap div, .register-form-wrap div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 22px;
    background-color: transparent;
}
.login-form-wrap div p, .register-form-wrap div p {
    color: var(--orange-color);
}

.login-form, .register-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#username, #password {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22rem;
    border: none;
    border-radius: 0.5rem;
}

label, form {
    background-color: var(--background-color);
}

.login-form button, .register-form button {
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    text-transform: uppercase;
    margin-top: 1rem;
    border: 3px solid white;
}

.register-login-form-link, .register-login-form-link:visited {
    color: var(--orange-color);
    background-color: transparent;
}

.successful-message {
    font-weight: bold;
    font-size: 1.5rem;
}


@media only screen and (max-width: 992px) {
    .image-wrap-login {
        display: none;
    }

    .login-card, .register-card {
        width: 80vw;
        display: flex;
        justify-content: center;
    }

    .login-card {
        height: 70vh;
    }

    .register-card {
        height: 75vh;
    }

    .login-form-wrap, .register-form-wrap  {
        width: 80%;
        gap: 2rem;
    }

    .register-form-wrap

    .login-form, .register-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
    }

    .login-form button, .register-form button {
        width: 40vw;
        background-color: var(--purple-color);
        border: none;
    }

    .login-form input, .register-form input{
        width: 10px;
    }

    .login-form label, .register-form label{
        align-self: flex-start;
    }

    #username, #password {
        width: 100%;
    }

    .register-form-wrap {
        height: 70vh;
    }

    /*.login-form-wrap h2 {*/
    /*    margin-top: 2rem;*/
    /*}*/

    .login-form-wrap p:nth-child(-n + 2) {
        /*border: 1px dotted red;*/
        text-align: end;

        display: flex;
        flex-direction: column;
        width: 100%;

    }





}

