#email, #confirm-password {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22rem;
    border: none;
    border-radius: 0.5rem;
}

@media only screen and (max-width: 992px) {
    #email, #confirm-password {
        width: 100%;
    }
}