@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');


* {
    background-color: var(--background-color);
}
p {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    background-color: transparent;
}

h3 {
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
}

/********************************************************** search/filter section */

.search-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 10rem;
}


input {
    height: 50px;
    background-color: transparent;
    border: 1.5px solid black;
    padding-left: 1rem;
    border-radius: 0.8rem;
}



.search-bar {
    background-color: transparent;
}

.dont-display-filters {
    display: none;
}

.filters-box {
    display: flex;
    flex-direction: column;
    background-color: transparent;

}

.filters-box p {
    font-weight: 700;
}

.filter-category {
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-out;
    background-color: var(--purple-color);
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 1rem;
}

.filter-category div {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--purple-color);
    border-radius: 1rem;
}

select {
    padding: 0.6rem 5rem;
    background-color: #ffffff;
    border-radius: 0.4rem;
}
select:focus {
    outline: none;
    border-color: var(--purple-color);
}



/********************************************************** recipe cards section*/

.all-recipes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: var(--background-color);
    padding: 7rem 5.5rem;


}
.button-wrap {
    display: flex;
    background-color: transparent;
}
.dont-display-page-button {
    display: none;
}

.page-button {
    background-color: white;
    border: 2.5px solid black;
    padding: 0.5rem;
    width: 10rem;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.recipe-link {
    color: black;
    text-decoration: none;
    font-weight: 400;
    background-color: white;
    border-radius: 0.8rem 0.8rem 0 0;

}
.recipe-link:hover {
    color: var(--orange-color);
}

.recipe-card:hover {
    border: 1px solid var(--orange-color);
}


.all-recipes-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem 2rem;
    background-color: var(--background-color);
}









