.wrap {
    position: relative;
    background-color: transparent;

}

[role="tooltip"],
.hidetooltip.hidetooltip.hidetooltip + [role="tooltip"] {
    visibility: hidden;
    position: absolute;
    top: 1rem;
    left: 2rem;
    background: lightgray;
    color: black;
    width: 5rem;
    padding: 0.3rem;
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
    z-index: 9;
    opacity: 90%;
}
[aria-describedby]:hover,
[aria-describedby]:focus {
    position: relative;

}
[aria-describedby]:hover + [role="tooltip"],
[aria-describedby]:focus + [role="tooltip"] {
    visibility: visible;
}

.allergenButton {
    background-color: lightgray;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    text-align: center;
    padding: 0;
}

.dontShowButton {
    display: none;
}
