.wrap {
    position: relative;
}

[role="tooltip"],
.hidetooltip.hidetooltip.hidetooltip + [role="tooltip"] {
    visibility: hidden;
    position: absolute;
    top: -2rem;
    left: -1rem;
    background: lightgray;
    color: black;
    width: 5rem;
    padding: 0.3rem;
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
    z-index: 9;
    opacity: 90%;
}
[aria-describedby]:hover,
[aria-describedby]:focus {
    position: relative;

}
[aria-describedby]:hover + [role="tooltip"],
[aria-describedby]:focus + [role="tooltip"] {
    visibility: visible;
}

.allergen-button {
    background-color: lightgray;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    text-align: center;
    justify-self: end;
    grid-column-start: 4;
    border: none;
}

.dont-show-button {
    display: none;
}
