.profile-container {
    border: 1px solid black;
    width: 60vw;
    margin: 3rem auto;
    background-color: var(--background-color);
    border-radius: 1rem;
}

.profile-container-top {
    border-radius: 1rem;
    padding: 1rem;;
    background-color: var(--purple-color);
}

.welcome-user {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    margin: 2rem;
    background-color: transparent;
}

.user-information-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: transparent;
}


.user-information {
    display: flex;
    margin: 1rem 0;
    background-color: transparent;
}

.user-data {
    background-color: transparent;

}

.user-information p {
    font-size: 1.1rem;
}


.user-information >p:first-of-type {
    width: 7rem;
    text-transform: capitalize;

}


.profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-color);
    border: var(--orange-color) 2.3px solid;
    height: 3rem;
    width: 7rem;
    border-radius: 1rem;
}

.profile-button:hover {
    box-shadow: black 1px 1px 5px;

}

/************************************************************ FAVORITE LIST */

.favorite-section {
    /*border-top: 2px solid black;*/
    padding: 2rem ;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--background-color);
}

.favorite-list {
    padding: 3rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: transparent;
}

.favorite-list-item {
    list-style: none;
    display: flex;
    max-width: 35rem;
    border-radius: 1rem;
    box-shadow: #c5b7af 1px 1px 10px ;
    border: none;
}

.favorite-list-item-navlink {
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: 600;
    width: 80%;
    background-color: transparent;
}

.favorite-list-item img {
    width: 12rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 1rem;
}

.favorite-list-item p {
    margin: 0.8rem 0 0 1rem;
    width: 14rem;
}

.favorite-list-item button {
    background-color: #ea4d4d;
    height: 3.5rem;
    width: 3.5rem;
    border: none;
    border-radius: 0.5rem;
    align-self: center;
    margin-right: 1rem;
    margin-left: auto;
    position: relative;
}
.favorite-list-item button:hover{
    box-shadow: #a3a1a1 0.3rem 0.3rem 0.8rem;
    height: 3.6rem;
    width: 3.6rem;
}

.icon-delete-favorite {
    background-color: transparent;
    color: white;
    height: 1.8rem;
}

@media only screen and (max-width: 992px) {


    .profile-container {
        border: none;
        width: 100vw;
        padding: 0;
        margin-top: 0;
    }

    .profile-container-top {
        border-radius: 0;
    }

    .user-information-container {
        padding: 0.5rem 2rem;
    }



    .user-information >p:first-of-type {
        width: 6rem;
        text-transform: capitalize;

    }

    .user-information p{
        font-size: 0.9rem;
    }

    .favorite-section {
        /*border-top: 2px solid black;*/
        padding: 2rem ;
        border-radius: 0 0 1rem 1rem;
        background-color: white;
        min-height: 60vh;
    }
    .favorite-list-item {
        width: 85vw;

    }
    .favorite-list-item-navlink {
        font-weight: 300;
        background-color: transparent;
    }

    .favorite-list-item img {
        width: 25vw;
    }

    .favorite-list-item p {
        font-size: 0.8rem;

    }

    .favorite-list-item button {
        height: 2rem;
        width: 2rem;
        border-radius: 0.3rem;
        margin-left: 1rem;
        background-color: #a7a5a5;
    }

    .icon-delete-favorite {
        width: 1.1rem;
    }
}
