.recipe-details-container {
    border: 1px black solid;
    margin: 10vh 15vw;
    background-color: white;
    border-radius: 0.8rem;
}

.recipe-details-button-top {
    background-color: transparent;
    padding: 1rem;
    margin: 1.5rem 0 0 1rem;
    /*border: 1px solid orange;*/
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: none;
}

.back-icon {
    background-color: transparent;
    color: var(--purple-color);
    height: 1.5rem;
    width: 2rem;
}

.favorite-button {
    border: none;
}

.favorite-icon {
    color: var(--light-orange-color);
    height: 2.5rem;
    margin: 1rem 3rem 0 0;
}

.favorite-icon-clicked {
    color: #F17300;
    height: 2.5rem;
    margin: 1rem 3rem 0 0;
}

.recipe-details-container >div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding-bottom: 1rem;

}

/****************************************************************** TOP */

.recipe-details-top {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 3rem 8rem 2rem 8rem;
    padding-bottom: 5rem;
    background-color: white;
    border-bottom: 2px black solid;
}

.detail-page-img{
    width: 25rem;
    height: 15rem;
    object-fit: cover;
}

.recipe-details-info {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
}

.recipe-details-top h2 {
    font-size: 1.3rem;
    background-color: transparent;
}

.icon-number-wrapper {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin: 1rem 2rem;
    background-color: transparent;
}

.icon-number-wrapper div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.icon-detail-page {
    color: black;
    background-color: transparent;
    height: 3rem;
}

.recipe-details-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    background-color: transparent;
}

.recipe-details-tags p {
    font-weight: 300;
    background-color: #e7e6e6;
    padding: 0.3rem 0.5rem;
    border: #a7a5a5 1.5px solid;
    border-radius: 0.4rem;
    text-transform: capitalize;
}


/****************************************************************** MIDDLE */

.recipe-details-middle {
    background-color: white;
}
.recipe-details-button-wrap {
    background-color: transparent;
    margin: 3rem 8rem 2rem 8rem;
    display: flex;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
}

.recipe-details-button {
    border-radius: 2rem;
    padding: 1rem 2rem;
    background-color: transparent;
    border: 2px var(--orange-color) solid;
    color: var(--orange-color);
}

.recipe-details-button:hover {
    background-color: var(--light-orange-color);
}
.recipe-details-button:current {
    background-color: var(--light-orange-color);
}



/****************************************************************** BOTTOM */

.recipe-details-bottom {
    background-color: white;
    margin: auto;
}

.recipe-details-dont-display {
    display: none;
}

/*********************************************************************** ingredients */

.recipe-details-ingredients {
    margin: 4rem 10rem 4rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1vw;
    background-color: transparent;
}

.recipe-details-ingredients img {
    width: 6rem;
    border-radius: 1rem;
    margin-bottom: 0.4rem;
}


.recipe-details-ingredients li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    width: 6rem;
    height: auto;
}

.recipe-details-ingredients p {
    text-align: center;

    margin-top: 0.4rem;
}

.ingredient-amount {
    font-size: 0.8rem;
    font-weight: 300;
}

/*********************************************************************** allergens */

.recipe-details-allergens {
    margin: 4rem 12rem 4rem 12rem;
    background-color: white;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.recipe-details-allergens li {
    list-style: none;
    padding: 0.5rem;
    background-color: #d9f4d9;
    border: solid 2px #bed5be;
    border-radius: 0.7rem;
    text-align: center;
    width: 13vw;
}

.recipe-details-allergens li p {
    font-size: 0.9rem;
}

    /*********************************************************************** nutrients */

.recipe-details-nutrients {
    list-style: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 4rem 12rem 4rem 12rem;
}

.recipe-details-nutrients li {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    /*border-bottom: 1px solid black;*/
    padding: 1rem;
}

.recipe-details-nutrients li:nth-child(odd) {
    background-color: var(--background-color);
}

.description {
    font-weight: 700;
}



.description-nutrient, .nutrient-label {
    width: 18vw;
}

.description-quantity, .description-daily, .nutrient-quantity, .daily-nutrient  {
    width: 10vw;
}

.recipeDetailsNutrients li p:nth-child(n+2) {
    text-align: end;
}

@media  only screen and (max-width: 992px) {
    .recipe-details-container {
        width: 90vw;
        margin: 1rem auto;
        border: none;
    }

    /*********************************************TOP*/

    .recipe-details-button-top {
        gap: 0;
        width: 50vw;
        margin: 0;

    }

    .recipe-details-container div:first-child {
        display: flex;
        align-items: center;
        border-radius: 1rem;
        margin: 0.1rem;
    }

    .recipe-details-button-top p {
        font-size: 0.8rem;
        min-width: 40vw;
    }

    .favorite-icon, .favorite-icon-clicked {
        height: 2rem;
        margin: 0.5rem 0.8rem;
        background-color: transparent;
    }

    .recipe-details-top {
        width: 90vw;
        margin: 0;

    }


/*********************************************MIDDLE*/
    .recipe-details-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2rem;
        border-bottom: none ;
    }

    .detail-page-img{
        width: 85vw;
        height: 15rem;
    }


    .recipe-details-info h2 {
        text-align: center;
    }

    .recipe-details-info {
        width: 85vw;
        height: 30vh;
        align-items: center;
    }

    .icon-detail-page {
        height: 2rem;
    }

    .icon-number-wrapper div p{
        font-size: 0.8rem;
    }

    .recipe-details-tags {
        justify-content: center;
    }



    .recipe-details-button {
        padding: 0;
        width: 20vw;
        height: 5vh;
        border-radius: 1rem;
        border: var(--orange-color) solid 0.1rem;
    }

    .recipe-details-bottom {
        display: flex;
        justify-content: center;
    }



    /******************** media ingredients*/


    .recipe-details-ingredients {
        margin: 2rem auto;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2vw;
    }

    .recipe-details-ingredients img {
        width: 4rem;
    }


    .recipe-details-ingredients li {
        width: 6rem;
        height: auto;
    }

    /******************** media allergens*/


    .recipe-details-allergens {
        margin: 2rem auto 3rem auto;
        max-height: none;
        height: fit-content;
        flex-wrap: nowrap;
        gap: 0.7rem;
        width: 90vw;
    }

    .recipe-details-allergens li {
        background-color: var(--background-color);
        border: none;
        border-radius: 0.3rem;
        width: 70vw;
    }

    .recipe-details-allergens li p {
        font-size: 0.7rem;
    }

    /******************** media nutrients*/

    .recipe-details-nutrients {
        list-style: none;
        background-color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 2rem;
    }

    .recipe-details-nutrients li {
        width: 80vw;
        padding: 0.5rem;
    }

    .recipe-details-nutrients li p {
        font-size: 0.7rem;
    }


    .recipe-details-nutrients li:nth-child(odd) {
        background-color: var(--background-color);
    }

    .description {
        font-weight: 700;
    }

    .description-nutrient, .nutrient-label {
        width: 32vw;
    }


    .description-quantity, .description-daily, .nutrient-quantity, .daily-nutrient {
        width: 18vw;
    }









}





