.recipeDetailsContainer {
    border: 1px black solid;
    margin: 10vh 15vw;
    background-color: white;
    border-radius: 0.8rem;
}

.recipeDetailsButtonTop {
    background-color: transparent;
    padding: 1rem;
    margin: 1.5rem 0 0 1rem;
    /*border: 1px solid orange;*/
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.backIcon {
    background-color: transparent;
    color: var(--purple-color);
    height: 1.5rem;
    width: 2rem;
}

/****************************************************************** TOP */

.recipeDetailsTop {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 3rem 8rem 2rem 8rem;
    padding-bottom: 5rem;
    background-color: white;
    border-bottom: 2px black solid;
}

.detailPageImg{
    width: 25rem;
    height: 15rem;
    object-fit: cover;
}

.recipeDetailsInfo {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    margin: 0;
}

.recipeDetailsTop h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    background-color: transparent;
}

.iconNumberWrapper {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin: 1rem 2rem;
    background-color: transparent;
}

.iconNumberWrapper div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.iconDetailPage {
    color: black;
    background-color: transparent;
}

.recipeDetailsTags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    background-color: transparent;
}

.recipeDetailsTags p {
    font-weight: 300;
    background-color: #e7e6e6;
    padding: 0.3rem 0.5rem;
    border: #a7a5a5 1.5px solid;
    border-radius: 0.4rem;
    text-transform: capitalize;
}


/****************************************************************** MIDDLE */

.recipeDetailsMiddle {
    background-color: white;
}
.recipeDetailsButtonWrap {
    background-color: transparent;
    margin: 3rem 8rem 2rem 8rem;
    display: flex;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
}

.recipeDetailsButton {
    border-radius: 2rem;
    padding: 1rem 2rem;
    background-color: transparent;
    border: 2px var(--orange-color) solid;
    color: var(--orange-color);
}

.recipeDetailsButton:hover {
    background-color: var(--light-orange-color);
}
.recipeDetailsButton:current {
    background-color: var(--light-orange-color);
}



/****************************************************************** BOTTOM */
.recipeDetailsBottom {
    background-color: white;
}

/*********************************************************************** ingredients */

.recipeDetailsIngredients {
    margin: 4rem 12rem 4rem 12rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7vh 3vw;
    background-color: transparent;
}

.recipeDetailsIngredients img {
    width: 7rem;
    border: 1px solid #000000;
    border-radius: 1rem;
    margin-bottom: 0.4rem;
}


.recipeDetailsIngredients li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*gap: 0.8rem;*/
    background-color: transparent;
    width: 8rem;
    height: 9rem;
}

.recipeDetailsIngredients p {
    text-align: center;
    text-transform: capitalize;
    margin-top: 0.4rem;
}

.ingredientAmount {
    font-size: 0.8rem;
    font-weight: 300;
}

/*********************************************************************** allergens */

.recipeDetailsAllergens {
    margin: 4rem 12rem 4rem 12rem;
    background-color: white;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.recipeDetailsAllergens li {
    list-style: none;
    padding: 0.5rem;
    background-color: #d9f4d9;
    border: solid 2px #bed5be;
    border-radius: 0.7rem;
    text-align: center;
    width: 13vw;
}

.recipeDetailsAllergens li p {
    font-size: 0.9rem;
}

    /*********************************************************************** nutrients */

.recipeDetailsNutrients {
    list-style: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 4rem 12rem 4rem 12rem;
}

.recipeDetailsNutrients li {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    /*border-bottom: 1px solid black;*/
    padding: 1rem;
}

.recipeDetailsNutrients li:nth-child(odd) {
    background-color: var(--background-color);
}

.description {
    font-weight: 700;
}

.descriptionNutrient {
    width: 18vw;
}

.descriptionQuantity {
    width: 10vw;
}

.descriptionDaily {
    width: 10vw;
}

.nutrientLabel {
    width: 18vw;
}

.nutrientQuantity {
    width: 10vw;
}

.dailyNutrient {
    width: 10vw;
}

.recipeDetailsDontDisplay {
    display: none;
}

.recipeDetailsNutrients li p:nth-child(n+2) {
    text-align: end;
}



