@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.navBar {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    height: 6vh;
    border-bottom: 2px black solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: var(--background-color);
}

.navBar img {
    height: 80%;
    padding-right: 3.5rem;
    background-color: transparent;
}

.navBar ul {
    display: flex;
    gap: 5rem;
    list-style: none;
    text-transform: uppercase;
    background-color: transparent;
}



.accountNav {
    text-decoration: none;
    color: white;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.3rem 0.6rem;
    background-color: black;


}

.active-menu-link {
    border-bottom: 2px solid var(--orange-color);
    text-decoration: none;
    color: var(--orange-color);
    background-color: var(--background-color);
}

.default-menu-link {
    border-bottom: 2px solid transparent;
    text-decoration: none;
    color: black;
    background-color: var(--background-color);
}



