

.filterAllergens {
    background-color: transparent;
    border: black 1px dashed;
    width: 50rem;
}

.buttonShowFilters {
    height: 2rem;
    display: flex;
    align-items: center;
    background-color: grey;
    border-radius: 1rem;
}

.filterAllergens div {
    background-color: transparent;
}
.filterAllergens div label {
    background-color: transparent;
}

.dontShowFilters {
    display: none;
}
