@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

.loading-screen-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.loading-screen-text {
    font-family: "Sedan SC", serif;
    text-transform: uppercase;
    margin: 10rem auto;
    font-size: 1.8rem;
    color: var(--purple-color);
}

@media only screen and (max-width: 768px) {
    .loading-screen-text {
        margin: 8vh auto;
    }
}





