.search-bar {
    display: flex;
    margin: 0.8rem;
    align-items: center;
    justify-content: center;
}

.search-bar form {
    background-color: transparent;

}

.search-bar form input {
    border-radius: 0.5rem;
    border: none;
    background-color: var(--background-color);
}


.search-bar button {
    padding: 0.5em 0.9em;
    height: 3rem;
    border-radius: 0.8rem;
    margin-left: 0.5rem;
    border: none;
}


.recipe-search-button {
    background-color: var(--purple-color);
}

.recipe-filter-button {
    background-color: var(--orange-color);
}

@media only screen and (max-width: 768px) {
    .search-bar button {
        font-size: 0.9rem;
    }
}