:root {
    --purple-color: #c5b0e2;
    --orange-color: #F17300;
    --light-orange-color: #f2dfcd;
    --background-color: #f4ede8;
    --filter-box-color: #dcd5ce;
    /*background-color: #E3D5CA;*/
    /*background-color: #EDEDE9;*/
}


/*D5BDAF*/

