.error-page {
    height: 64vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    padding-top: 20vh;
}

.error-page a {
    color: var(--purple-color);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}

